/*** Main wrap and header ***/

#wrap {
	margin:10px auto;
	padding:0;
	width:670px;
}

#logo {
	float: right;
	margin: -65px 10px -30px -50px;
	background: url('/images/tiji.png');
	width: 300px;
	height: 250px; 
}

.title a {
	color: black;
	font-weight: 700;
	text-decoration: none;
}

.title a:hover {
	text-decoration: underline;
	color: black;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.bottomLine {
	border-bottom: 1px solid gray;
}

.description {
	color: #A2A2A2;
	width: 330px;
}

.slogan a {
	color: #18a2bf;
	padding:3px;
	line-height: 2.5em;
}

.slogan {
	color:gray;
	font-weight:700;
}

.slogan div {
	display:inline;
}

.categoryTitle {
	font-size: 30px;
	color: #18a2bf;
}

ul.posts {
	margin: 10px -40px;
	list-style-type: none;	
}

ul.posts li a {
	font-weight:200;
}

#post {
	background-color: #f5f5f5;
 	padding: 10px;
 	color: #595a5c;
}

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.header {
	height: 140px;
  	margin-bottom: 10px;
}

.costumNavbar {
	background-color: #428bca !important;
  	background-image: none !important;
  	border: none !important;
}

.navbarContainer {
	width: 680px !important;
	padding: 0 !important;
}

.costumNavbar .navbar-nav > li > a {
	color: #fff !important;
	background-image: none !important;
}
.costumNavbar .navbar-nav > li > a:hover,
.costumNavbar .navbar-nav > li > a:focus {
  	background-color: #FAFAFA !important;
	color: #000 !important;
}

.aboutme {
	padding-top: 5px !important;
	background-color: #f5f5f5 !important;
	color: #595a5c !important;
}
 
.aboutme p {
	font-size: 16px !important;
}