/*** Main wrap and header ***/

#wrap {
	margin:10px auto;
	padding:0;
	width:670px;
}

#logo {
	float: right;
	margin: -65px 10px -30px -50px;
	background: url('/images/tiji.png');
	width: 300px;
	height: 250px; 
}

.title a {
	color: black;
	font-weight: 700;
	text-decoration: none;
}

.title a:hover {
	text-decoration: underline;
	color: black;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.bottomLine {
	border-bottom: 1px solid gray;
}

.description {
	color: #A2A2A2;
	width: 330px;
}

.slogan a {
	color: #18a2bf;
	padding:3px; 
	line-height: 2.5em; 
}

.slogan {
	color:gray;
	font-weight:700;
}

.slogan div {
	display:inline;
}

.lightBlue {
	color: #18a2bf;
}

ul.posts {
	margin: 10px -40px;
	list-style-type: none;	
}

ul.posts li a {
	font-weight:200;
}