---
layout: default
title: Taylor's Tech Blog
---

<table class="myTable table table-striped">
	<thead>
		<tr>
			<th colspan="2" class="categoryTitle"><h2>Code<h2></th>
		</tr>
	</thead>
	<tbody>
		{% for post in site.categories.code %}
		<tr>
			<td width="130px" style="color: #337ab7;" >{{ post.date | date_to_string }}</td>
			<td><a href="{{ post.url }}">{{ post.title }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<table class="myTable table table-striped">
	<thead>
		<tr>
			<th colspan="2" class="categoryTitle"><h2>Resource<h2></th>
		</tr>
	</thead>
	<tbody>
		{% for post in site.categories.resource %}
		<tr>
			<td width="130px" style="color: #337ab7;" >{{ post.date | date_to_string }}</td>
			<td><a href="{{ post.url }}">{{ post.title }}</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>