<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/css/default.css" />

	<title>Taylor's Tech Blog</title>

</head>
<body>
	<div id="wrap">
		<div class="slogan">
				<a href="https://github.com/taylorzy/" target="_blank">My github</a> :|: 
				<a href="/code.html" >Code</a> :|: 
				<a href="/resource.html">Resources</a> :|: 
				<a href="/aboutme.html" >About me</a>
		</div>
		<div>
			<div id="logo"></div>
			<h1 class="title">
				<a href="/">Taylor's Tech Blog</a>
			</h1>
			<p class="description"><b>Taylor Zhang</b>, a Chinese Java web developer, live in Adelaide, Australia, work for a Japanese company Fujitsu.</p>
		</div>

		<div>
			{{ content }}
		</div>
	</div>
</body>
</html>