<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
	<link rel="stylesheet" type="text/css" href="/css/default.css" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="{{ site.path }}/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="{{ site.path }}/css/bootstrap-theme.min.css">

	<script src="{{ site.path }}/js/bootstrap.min.js"></script>
	<title>Taylor's Tech Blog</title>

</head>
<body>
	<nav class="navbar navbar-default navbar-static-top costumNavbar">
		<div class="container navbarContainer">
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="https://github.com/taylorzy/" target="_blank">My github</a></li>
					<li><a href="/code.html" >Code</a></li>
					<li><a href="/resource.html">Resource</a></li>
					<li><a href="/aboutme.html" >About me</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="wrap" class="container">
		<div class="content">
		<div class="header">
			<div id="logo"></div>
			<h1 class="title">
				<a href="/">Taylor's Tech Blog</a>
			</h1>
			<p class="description"><b>Taylor Zhang</b>, a Chinese Java web developer, live in Adelaide, Australia, work for a Japanese company Fujitsu.</p>
		</div>
		
		<div>
			{{ content }}
		</div>
		</div>
	</div>
</body>
</html>