<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/css/default.css" />

	<title>Taylor's Tech Blog</title>

</head>
<body>
	<div id="wrap">
		<div>
			<h1>
				<div id="logo"></div>
				<a href="/">Taylor's Tech Blog</a>
			</h1>
			<p><b>Taylor Zhang</b>, a Chinese Java web developer, lives in Adelaide, Australia, work for a Japanese company Fujitsu.</p>
		</div>

		<div class="slogan">
				<a href="/code.html" class="pink">code{web}</a> :|: 
				<a href="/os.html" class="green">software{apple}</a> :|: 
				<a href="/life.html" class="orange">life{me}</a>
		</div>

		<div>
			{{ content }}
		</div>
	</div>
</body>
</html>